header{
    background-color: #ffffff;
  }
  
  ul{
      list-style: none;
      margin: 0;
      padding: 20px;
      
  }
  
  a{
      font-size: 40px;
      padding: 20px;
      color: #000000;
      text-decoration: none;
      font-size: 20px;
  
  }
  a:hover{
      color: rgb(0, 0, 0);
      text-decoration: none;
      transition: all .7s ease-in-out;
  
  }
  li{
      display: inline;
  }
  .navbar {
  
      background-color: rgb(255, 255, 255);

      
  
      width: 100%;
      height: 70px;
      margin-bottom: 8px;
  }
  .navbar .container {
   height: inherit;
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 23px;
  }
  .navbar-menu{
      list-style-type: 0;
      padding-left: 0;
      margin-bottom: 0;
      font-size: 20px;
      opacity: 0.6;
      transition: all .7s ease-in-out;
  }
  .navbar-brand{
      font-weight: 700;
      font-size: 39px;
  }
   
main{
    
    }
  

div{
 
    
}

h1{
        text-shadow: #000000;
        height: 10em;
        position: relative 
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        
        
        
        
        

 }

 button {
    margin: 0 auto;
    display: block;
    height: 60px;
    background-color: rgb(#808080);
    border:none;
    border-radius: 5px;
    margin-top: 250px;
    
  }

  h2{
    margin-left: 200px;
    margin-top: 450px;
  }

  h3{
    margin-left: 620px;
    margin-top: -540px;
    font-size: xx-large;
  }

  {
    margin-left: ;
    margin-top: -25px;
    font-size: 25px;
    text-align: center;
  }

 .center-img{
    margin-top: 600px;
    margin-left: 215px;
  }

  h6{
    font-size: large;
  }

  footer{

    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 150px;

    font-size: xx-large;
    
  }

  h4{
    text-align: center;
    text-shadow: #000000;
  }

  p{

    box-shadow: #000000;

    font-size: x-large;
  }
 



